
.product-item td {
background-color: rgb(67, 108, 136);/* Puedes agregar estilos específicos para las celdas si lo deseas */
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.edit-button,
.delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: #007bff;
  color: white;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}